.button {
  border: 1px solid var(--input-border);
  height: 28px;
  padding: 0 6px;
  background: var(--bg-subtle);
  border-radius: var(--rounded-md);
  font-weight:500;
  font-size: 13px;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  background: var(--bg-hover);
}