.intro-layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.intro {
  width: 640px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  color: var(--fg-primary);
}

.description {
  font-size: 14px;
  color: var(--fg-subtle);
  line-height: 1.44;
  margin: 0;
  padding: 0;
}

.intro-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 16px 0;
}

.intro-form .input {
  height: 36px;
  flex: 1;
}

.intro-form .button {
  height: 36px;
  flex: 0;
}

.suggestion {
  border: none;
  display: block;
  background: none;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 8px;
  color: var(--fg-subtle);
}

.suggestion:hover {
  color: var(--fg-primary);
}

.suggestions h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}
